.icon-down {
	display: table-row;;
    text-align: center;
    vertical-align: middle;
}

.logo-shortcut{
	color:white;
}
a:hover{
	color:red;
}

.bg-black{
	background-color: black;
}

btn:hover{
	color:red;
}
.to-white{
	color:white;
}

.full-page{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.middle{
	margin:10% auto;
}

.para{
    text-indent: 5em;
}